/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
/*input::-ms-clear{display:none;}*/
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
/*ul li{list-style:none;}*/
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
    background: #1A1A1A !important;
}

.header{
    max-width: 1280px;
    height: 85px;
    margin: 0 auto;
    padding-top: 21px;
    margin-bottom: 22px
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo img{
    vertical-align: middle;
}
.header__nav{
    width: 421px;
    display: flex;
    justify-content: space-between;
    margin-left: -185px;
}
.header__nav a{
    padding: 12px 22px;
    color: #E6E6E6;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition: 0.2s;
}
.header__nav a:hover{
    border-radius: 6px;
    background: #262626;
    transition: 0.2s;
}
.header__nav a:nth-child(2){
    border-radius: 6px;
    background: #262626;
}
.header__container button{
    color:#262626;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    background: #9EFF00;
    display: flex;
    padding: 12px 18px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
}
.header__container button:hover{
    background: #91cd1e;
}


/*--------------------*/

.services__preview{
    width: 100%;
    margin: 0 auto;
    height: 280px;
    background-image: url("../images/Text Container (3).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}
.services__design__greeting{
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px;
}
.services__design__greeting h1{
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.services__design__greeting p{
    color: #E6E6E6;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.096px;
    margin-bottom: 40px;
}
.services__design__greeting h2{
    width: 239px;
    height: 42px;
    padding: 10px;
    border-radius: 6px;
    background:#262626;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*--------------------*/

.services__design,
.services__engineering,
.services__management{
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.design__main--blocks{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #262626;
}
.design__main--block{
    width: 240px;
    height: 136px;
    border-right: 1px solid #262626;
}
.design__main--block:last-child{
    border-right: 0;
}
.design__main--title{
    color: #98989A;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 40px 0 40px 40px;
    border: 1px solid #262626;
}
.design__main--block-image{
    margin-bottom: 24px;
    width: 64px;
    height: 64px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2E2E2E;
    background: linear-gradient(229deg, rgba(158, 255, 0, 0.20) -68.25%, rgba(158, 255, 0, 0.00) 32.16%), linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0.00) 100%);
}
.design__main--block-text{
    width: 234px;
    color: #E6E6E6;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.096px;
    align-self: stretch;
}

/*--------------------*/

.bring{
    width: 100%;
    margin: 0 auto;
    height: 507px;
    background-image: url("../images/Container (2).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

/*--------------------*/


.mainFooter{
    max-width: 1280px;
    margin: 0 auto;
}
.mainFooter__container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0;
}
.mainFooter__logo{
    padding-top: 8px;
}
.mainFooter__logo img{vertical-align: middle;}
.mainFooter__nav{
    width: 421px;
    display: flex;
    justify-content: space-between;
    margin-left: -185px;
    padding-left: 48px;
}
.mainFooter__nav a{
    padding: 25px 22px;
    color: #E6E6E6;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition: 0.2s;
}
.mainFooter__nav a:hover{
    border-radius: 6px;
    background: #262626;
    transition: 0.2s;
}
.mainFooter__links{
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #262626;
    padding: 10px 10px 10px 20px;
}
.mainFooter__links p{
    margin-right: 16px;
    color: #E6E6E6;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.mainFooter__links--facebook,
.mainFooter__links--twitter,
.mainFooter__links--linkedin {
    margin-right: 10px;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #2E2E2E;
    background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0.00) 100%);
}


/*--------------------*/


.footer{
    background: #201E1E;
    height: 91px;
    display: flex;
    justify-content: left;
    position: sticky;
}
.footer__container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_text{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.523px;
    opacity: 0.6;
    margin-bottom: 20px;
}
.footer_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer_tex2{
    display: flex;
    color:#E6E6E6;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.footer_tex2 p{
    margin-right: 20px;
}
