/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
/*input::-ms-clear{display:none;}*/
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
/*ul li{list-style:none;}*/
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
    background: #1A1A1A !important;
}

.header{
    max-width: 1280px;
    height: 85px;
    margin: 0 auto;
    padding-top: 21px;
    margin-bottom: 22px
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo img{
    vertical-align: middle;
}
.header__nav{
    width: 421px;
    display: flex;
    justify-content: space-between;
    margin-left: -185px;
}
.header__nav a{
    padding: 12px 22px;
    color: #E6E6E6;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition: 0.2s;
}
.header__nav a:hover{
    border-radius: 6px;
    background: #262626;
    transition: 0.2s;
}
.header__nav a:nth-child(4){
    border-radius: 6px;
    background: #262626;
}
.header__container button{
    color:#262626;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    background: #9EFF00;
    display: flex;
    padding: 12px 18px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
}
.header__container button:hover{
    background: #91cd1e;
}

/*--------------------*/

.preview{
    width: 100%;
    margin: 0 auto;
    height: 280px;
    background-image: url("../images/Text Container (5).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*--------------------*/

.squareUp__greeting{
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #262626;
}
.squareUp__greeting h1{
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.squareUp__greeting p{
    color: #E6E6E6;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.096px;
    margin-bottom: 40px;
}
.squareUp__greeting h2{
    width: 340px;
    height: 42px;
    padding: 10px;
    border-radius: 6px;
    background:#262626;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.squareUp__main{
    max-width: 1280px;
    margin: 0 auto;
}
.squareUp__main__blocks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.squareUp__main__blocks--block{
    padding: 40px 40px 80px 40px;
    border: 1px solid #262626;
}
.squareUp__main__blocks--block h2{
    color:#98989A;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.squareUp__main__blocks--block h2 span{
    color: #D8FF99;
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 24px;
}
.squareUp__main__blocks p{
    align-self: stretch;
    color: #98989A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 560px;
}
@media(max-width: 1100px){
    .squareUp__main__blocks p{
        font-size: 14px;
    }
    .squareUp__main__blocks--block h2 span{
        font-size: 95px;
    }
    .squareUp__main__blocks--block{
        padding: 30px 30px 60px 30px;
    }
}

/*--------------------*/

.previewFooter{
    width: 100%;
    margin: 0 auto;
    height: 483px;
    background-image: url("../images/Container (4).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*--------------------*/

.thanks{
    margin-bottom: 40px;
}
.thanks__preview{
    background-image: url("../images/Container (1).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 483px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks__main{
    max-width: 726px;
    height: 100%;
    margin: 0 auto;
}
.thanks__main{
    max-width: 846px;
    height: 100%;
}
.thanks__main--inputs{
    display: flex;
    justify-content: space-between;
    padding: 60px 60px 30px 60px;
}
.input-container{
    width: 348px;
    height: 113px;
    border-radius: 6px;
    border: 1px solid  #262626;
    background: rgba(36, 36, 36, 0.50);
    position: relative;
    padding: 20px 30px;
}
/* From Uiverse.io by Satwinder04 */
/* Input container */
.input-container p{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
/* Input field */
.input-field {
    display: block;
    width: 100%;
    font-size: 16px;
    padding-bottom: 4px;
    border: none;
    border-bottom: 2px solid #333;;
    outline: none;
    background-color: transparent;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #9EFF00;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: #9EFF00;
}

.input-field:focus + .input-label + .input-highlight {
    width: 100%;
}

.thanks__main--checkboxes{
    padding: 30px;
    border-radius: 6px;
    width: 726px;
    height: 100%;
    border: 1px solid  #262626;
    background: rgba(36, 36, 36, 0.50);
    margin: 0 auto;
    margin-bottom: 30px;
}
.thanks__main--checkboxes p{
    color: #FFF;
    align-self: stretch;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 34px;
}

/* From Uiverse.io by cbolson */
.my-form {
    --_clr-primary: #666;
    --_clr-hover: #9EFF00;
    --_clr-checked: #9EFF00;
}
.thanks__main--checkboxes--box1 div{
    width: 285px;
    margin-right: 60px;
}
.thanks__main--checkboxes--box2 div{
    width: 285px;
    margin-right: 60px;
}
#check3,
#check4{margin-right: 0;}

#check1,
#check3{margin-bottom: 26px;}


#check1,
#check2,
#check3,
#check4{
    display: flex;
}

.thanks__main--checkboxes--box1 input,
.thanks__main--checkboxes--box2 input{
    margin-right: 15px;
}
.my-form > div {
    --_clr-current: var(--_clr-primary);

    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.my-form > div + div {
    margin-block-start: 0.5rem;
}
.my-form label {
    cursor: pointer;
    color: var(--_clr-current);
    transition: color 150ms ease-in-out;
}

/* styled checkbox */
.my-form input[type="checkbox"] {
    appearance: none;
    outline: none;
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1;
    padding: 0.25rem;
    background: transparent;
    border: 1px solid var(--_clr-current);
    border-radius: 2px;
    display: grid;
    place-content: center;
    cursor: pointer;
}
.my-form input[type="checkbox"]::after {
    content: "\2714";
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    color: var(--_clr-checked);
    font-size: inherit;
    font-family: inherit;
}

.my-form label:hover,
.my-form input[type="checkbox"]:focus-visible,
.my-form input[type="checkbox"]:focus-visible + label,
.my-form input[type="checkbox"]:hover,
.my-form input[type="checkbox"]:hover + label {
    --_clr-current: var(--_clr-hover);
}
.my-form input[type="checkbox"]:focus-visible::after,
.my-form input[type="checkbox"]:hover::after {
    opacity: 0.5;
    color: var(--_clr-hover);
}

.my-form input[type="checkbox"]:checked + label:not(:hover),
.my-form input[type="checkbox"]:checked:not(:hover) {
    --_clr-current: var(--_clr-checked);
}
.my-form input[type="checkbox"]:checked::after {
    opacity: 1;
}


.thanks__main--slider{
    padding: 30px;
    margin: 0 auto;
    max-width: 726px;
    height: 100%;
    gap: 30px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #262626;
    background: rgba(36, 36, 36, 0.50);
    margin-bottom: 30px;
}
.thanks__main--slider h3{
    color:  #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin-bottom: 15px;
}
.thanks__main--slider p{
    color: #E6E6E6;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.096px;
    margin-bottom: 30px;
}


/* From Uiverse.io by PriyanshuGupta28 */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #333;
    background-image: linear-gradient(43deg, #333 0%, #333 46%, #333 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    background-image: linear-gradient(160deg, #9EFF00 0%, #9EFF00 100%);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #9EFF00 0%,#9EFF00 100%);
    cursor: pointer;
}


.thanks__main--message{
    max-width: 726px;
    height: 100%;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #262626;
    background: rgba(36, 36, 36, 0.50);
    margin: 0 auto;
}
.thanks__main--message p{
    margin-bottom: 20px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.input-container2{
    border-radius: 6px;
    border: 1px solid  #262626;
    background: rgba(36, 36, 36, 0.50);
    position: relative;
    padding: 5px 7px;
}

/*--------------------*/

.mainFooter{
    max-width: 1280px;
    margin: 0 auto;
}
.mainFooter__container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0;
}
.mainFooter__logo{
    padding-top: 8px;
}
.mainFooter__logo img{vertical-align: middle;}
.mainFooter__nav{
    width: 421px;
    display: flex;
    justify-content: space-between;
    margin-left: -185px;
    padding-left: 48px;
}
.mainFooter__nav a{
    padding: 25px 22px;
    color: #E6E6E6;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition: 0.2s;
}
.mainFooter__nav a:hover{
    border-radius: 6px;
    background: #262626;
    transition: 0.2s;
}
.mainFooter__links{
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #262626;
    padding: 10px 10px 10px 20px;
}
.mainFooter__links p{
    margin-right: 16px;
    color: #E6E6E6;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}
.mainFooter__links--facebook,
.mainFooter__links--twitter,
.mainFooter__links--linkedin {
    margin-right: 10px;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    border: 1px solid #2E2E2E;
    background: linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0.00) 100%);
}


/*--------------------*/


.footer{
    background: #201E1E;
    height: 91px;
    display: flex;
    justify-content: left;
    position: sticky;
}
.footer__container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_text{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.523px;
    opacity: 0.6;
    margin-bottom: 20px;
}
.footer_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer_tex2{
    display: flex;
    color:#E6E6E6;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.footer_tex2 p{
    margin-right: 20px;
}


